/* Coolors Exported Palette - coolors.co/44355b-759fbc-221e22-eca72c-e01a4f */

/* HSL */
$bm-purple: hsla(264%, 26%, 28%, 1);
$bm-sky: hsla(205%, 35%, 60%, 1);
$bm-black: hsla(300%, 6%, 13%, 1);
$bm-yellow: hsla(38%, 83%, 55%, 1);
$bm-red: hsla(344%, 79%, 49%, 1);

/* RGB */
$bm-purple: rgba(68, 53, 91, 1);
$bm-sky: rgba(54, 173, 216, 1);
$bm-blue2: rgba(91, 133, 170, 1);
$bm-blue: rgba(45, 112, 249, 1);
$bm-black: rgba(34, 30, 34, 1);
$bm-darkgrey: rgba(76, 91, 92, 1);
$bm-lightgrey: rgba(218, 219, 219, 1);
$bm-yellow: rgba(249, 200, 14, 1);
$bm-red: rgba(224, 26, 79, 1);
$bm-red2: rgba(254, 74, 73, 1);
$bm-orange: rgba(244, 96, 54, 1);
$bm-green: rgba(151, 219, 79, 1);
